@font-face {
	font-family: NotoSans;
	src: url(../fonts/NotoSans-Regular.ttf);
}
* {
	box-sizing: border-box;
}
html, body {
	/*overflow-x: hidden;*/
}
body {
	font-family: NotoSans, sans-serif;
	color: #1D2D3A;
	font-size: 18px;
	line-height: 24px;
}
p {
	margin: 10px 0;
}
.container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}
.carthage-dark-btn {
	height: 45px;
	background-color: #0B0B27;
	border-radius: 3px;
	border: 1px solid #0B0B27;
	transition: .2s;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
}
.carthage-dark-btn:hover {
	box-shadow: 0px 4px 8px rgba(11, 11, 39, 0.15), 0px 8px 16px rgba(11, 11, 39, 0.15);
}
.carthage-dark-btn:active {
	background-color: #fff;
	color: #0B0B27;
	box-shadow: none;
}
.carthage-blue-btn {
	height: 60px;
	background-color: #0ED6C8;
	border-radius: 3px;
	transition: .2s;
	color: #fff;
	border: 1px solid #0ED6C8;
	font-size: 28px;
	padding: 0 35px;
	cursor: pointer;
}
.carthage-blue-btn:hover {
	box-shadow: 0px 4px 8px rgba(14, 214, 200, 0.15), 0px 8px 16px rgba(14, 214, 200, 0.15);
}
.carthage-blue-btn:active {
	background-color: #fff;
	color: #0ED6C8;
}
@media (max-width: 991px) {
	.carthage-blue-btn {
		height: 50px;
		background-color: #0ED6C8;
		border-radius: 3px;
		transition: .2s;
		color: #fff;
		border: 1px solid #0ED6C8;
		font-size: 22px;
		padding: 0 25px;
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid green;
	margin: 50px 0 60px;
}
.navbar-nav {
	border: 1px solid red;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.navbar-nav > .navbar-item {
	margin: 0 40px;
}
.navbar-link {
	color: #1D2D3A;
	text-decoration: none;
	transition: .2s;
	display: inline-block;
	padding: 10px 0;
	position: relative;
}
.navbar-link:hover {
	color: #0ED6C8;
}
.navbar-link:before {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: #0ED6C8;
	position: absolute;
	bottom: 5px;
	right: 0;
	transition: .3s;
}
.navbar-link:hover:before {
	width: 100%;
	left: 1px;
}
.menu-item-has-children {
	position: relative;
}
.sub-menu {
	transition: .1s;
	opacity: 0;
	z-index: -1;
	position: absolute;
	left: -50%;
	top: 100%;
	width: 230px;
	list-style: none;
	background-color: #fff;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #0B0B27;
	border-radius: 0px 0px 3px 3px;
	white-space: nowrap;
	padding: 10px 20px;
}
.sub-menu .navbar-link {
	font-size: 17px;
	padding: 5px 0;
}
.sub-menu .navbar-link:before {
	bottom: 0px;
}
.menu-item-has-children:hover .sub-menu {
	opacity: 1;
	z-index: 5;
}
@media (max-width: 1400px) {
	.navbar-nav > .navbar-item {
		margin: 0 20px;
	}
}

main {
	border: 1px solid #D8D8D8;
	padding: 15px 40px;
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 60px;
}
.main-detail {
	position: absolute;
	top: 0;
	width: 100%;
	max-width: 1040px;
	left: 0;
	right: 0;
	margin: auto;
	border: 1px solid #0ED6C8;
	border-radius: 5px;
	background-color: #fff;
	padding: 25px 25px 35px;
	transition: .3s;
	opacity: 0;
	z-index: -1;
}
.main-detail.active {
	top: 130px;
	opacity: 1;
	z-index: 1;
}
.main-detail-close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	transition: .5s;
}
.main-detail-close:hover {
	transform: rotate(180deg);
}
.main-detail h2 {
	font-size: 24px;
	line-height: 28px;
	margin-top: 0;
}
.main-detail-logos {
	display: flex;
}
.main-detail-logo {
	text-align: center;
	color: #1D2D3A;
	text-decoration: none;
	width: 20%;
	transition: .2s;
}
.main-detail-logo:hover {
	opacity: .5;
}
.main-detail-logo img {
	display: block;
	margin: 10px auto;
}
.main-left {
	padding-right: 20px;
}
.main-left h1 {
	font-size: 44px;
	line-height: 56px;
	margin: 40px 0 20px;
}
.main-subtitle {
	font-size: 32px;
	line-height: 42px;
	margin-bottom: 40px;
}
@media (max-width: 1199px) {
	.main-left h1 {
		font-size: 36px;
		line-height: 44px;
		margin: 25px 0 15px;
	}
	.main-subtitle {
		font-size: 24px;
		line-height: 30px;
	}
	.main-right img {
		width: 380px;
	}
}
@media (max-width: 991px) {
	main {
		padding: 15px 30px;
	}
	.main-subtitle {
		margin-bottom: 30px;
	}
	.main-subtitle br {
		display: none;
	}
}
@media (max-width: 900px) {
	.main-left h1 {
		font-size: 32px;
		line-height: 40px;
		margin: 20px 0;
	}
	.main-subtitle {
		font-size: 20px;
		line-height: 26px;
	}
	.main-right img {
		width: 320px;
	}
}

.continents {
	display: grid;
  	gap: 20px;
  	grid-template-columns: repeat(2, 1fr);
  	grid-template-rows: 600px;
  	margin-bottom: 60px;
}
.continents h2 {
	font-size: 52px;
	line-height: 70px;
	cursor: pointer;
	margin: 30px;
	transition: .2s;
}
.continents ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.continents h2:hover {
	opacity: .6;
}
.continents .africa,
.continents .eurasia {
	position: relative;
}
.continents .africa-cover,
.continents .eurasia-cover {
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
}
.continents .africa-cover {
	background-image: url('../img/africa.jpg');
}
.continents .eurasia-cover {
	background-image: url('../img/eurasia.jpg');
}
.continents .continents-countries {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #FEC597;
	border-radius: 5px;
	padding: 15px 30px;
	transition: .2s;
	z-index: -1;
	opacity: 0;
}
.continents .continents-countries.active {
	z-index: 1;
	opacity: 1;
}
.continents .arr-back {
	position: absolute;
	top: 40px;
	right: 30px;
	cursor: pointer;
}
.continents .country span {
	display: inline-block;
	font-size: 30px;
	line-height: 35px;
	margin: 25px 0;
	cursor: pointer;
}
.continents ul.country-links {
	background-color: #fff;
	position: absolute;
	left: -1px;
	right: -1px;
	top: -1px;
	bottom: -1px;
	border: 1px solid #FEC597;
	border-radius: 5px;
	padding: 40px 30px;
	transition: .2s;
	opacity: 0;
	z-index: -1;
}
.continents ul.country-links.active {
	opacity: 1;
	z-index: 1;
}
.continents .country-title {
	font-size: 30px;
	line-height: 35px;
	font-weight: bold;
	padding-bottom: 20px;
}
.continents .country-links a {
	font-size: 24px;
	line-height: 28px;
	color: #1D2D3A;
	text-decoration: none;
	display: inline-block;
	margin: 25px 0;
}
.continents .country-links a:hover {
	text-decoration: underline;
}

.banner-aparty {
	margin-bottom: 60px;
}
.banner-aparty img {
	display: block;
	width: 100%;
}



.news [type="radio"],
.articles [type="radio"] {
	display: none;
}
.news-head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	border-bottom: 1px solid #1D2D3A;
}
.news h2 {
	font-size: 52px;
	line-height: 70px;
	margin: 0 30px 0 0;
}
.news-label-wrap,
.art-label-wrap {
	display: flex;
	gap: 90px;
	overflow: auto;
	padding: 10px 0;
}
.news-label-wrap label,
.art-label-wrap label {
	font-size: 24px;
	line-height: 32px;
	cursor: pointer;
}

#news-actual:checked ~ .news-head label[for="news-actual"],
#news-tunis:checked ~ .news-head label[for="news-tunis"],
#news-tanzania:checked ~ .news-head label[for="news-tanzania"],
#news-oae:checked ~ .news-head label[for="news-oae"],
#news-egipet:checked ~ .news-head label[for="news-egipet"],
#art-actual:checked ~ .art-head label[for="art-actual"],
#art-tunis:checked ~ .art-head label[for="art-tunis"],
#art-tanzania:checked ~ .art-head label[for="art-tanzania"],
#art-oae:checked ~ .art-head label[for="art-oae"],
#art-egipet:checked ~ .art-head label[for="art-egipet"] {
	color: #0ED6C8;
}

.news-wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 2;
	gap: 20px;
}
.news-wrap > div {
	border-radius: 5px;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
	color: #fff;
}
.news-wrap > div a {
	color: #fff;
	text-decoration: none;
}
.news-wrap > div a:hover {
	text-decoration: underline;
}
.news-wrap > div:first-child {
	grid-column: 1 / 3;
	background-image: url('../img/ralli.jpg');
}
.news-wrap > div:nth-child(2) {
	grid-column: 3 / 5;
	background-image: url('../img/reis.jpg');
}
.news-wrap > div:nth-child(3) {
	background-image: url('../img/ralli.jpg');
}
.news-wrap > div:nth-child(4) {
	background-image: url('../img/reis.jpg');
}
.news-wrap > div:nth-child(5) {
	background-image: url('../img/ralli.jpg');
}
.news-wrap > div:last-child {
	background-image: url('../img/reis.jpg');
}
.big-news {
	padding: 95px 30px 15px;
}
.big-news .news-tag {
	display: inline-block;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 38px;
	background-color: #06C4E5;
	border-radius: 10px;
	padding: 3px 12px;
}
.big-news h3 {
	font-size: 30px;
	line-height: 35px;
	margin: 15px 0;
}
.big-news .news-date {
	font-size: 24px;
	line-height: 32px;
}
.big-news .news-eye {
	display: flex;
	float: right;
	font-size: 24px;
	line-height: 32px;
}
.big-news .news-eye img {
	margin-right: 10px;
	display: block;
}
.small-news {
	padding: 175px 15px 15px;
}
.small-news .news-tag {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	background-color: #06C4E5;
	border-radius: 5px;
	padding: 3px 10px;
}
.small-news h3 {
	font-size: 18px;
	line-height: 24px;
	margin: 15px 0;
}
.small-news .news-date {
	font-size: 20px;
	line-height: 26px;
}
.small-news .news-eye {
	display: flex;
	float: right;
	font-size: 20px;
	line-height: 26px;
}
.small-news .news-eye img {
	margin-right: 7px;
	display: block;
}
@media (max-width: 1199px) {
	.news h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.news-label-wrap,
	.art-label-wrap {
		gap: 40px;
	}
	.small-news {
		padding: 120px 15px 15px;
	}
}
@media (max-width: 991px) {
	.small-news {
		padding: 80px 10px 10px;
	}
	.small-news .news-date,
	.small-news .news-eye {
		font-size: 16px;
		line-height: 20px;
	}
	.small-news .news-eye img {
		width: 20px;
		margin-right: 3px;
	}
}
@media (max-width: 767px) {
	.news-wrap {
		gap: 10px;
	}
	.big-news {
		padding: 70px 20px 15px;
	}
	.big-news .news-tag {
		font-size: 20px;
		line-height: 28px;
	}
	.big-news h3 {
		font-size: 24px;
		line-height: 30px;
		margin: 12px 0;
	}
	.big-news .news-date,
	.big-news .news-eye {
		font-size: 18px;
		line-height: 24px;
	}
	.big-news .news-eye img {
		margin-right: 7px;
		width: 24px;
	}
	.small-news h3 {
		font-size: 16px;
		line-height: 20px;
		margin: 10px 0;
	}
	.small-news .news-date,
	.small-news .news-eye {
		font-size: 14px;
		line-height: 18px;
	}
	.small-news .news-eye img {
		width: 16px;
		margin-right: 2px;
	}
}